<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<section name="HaarbyTennis" type="HaarbyTennis.Global.HaarbyTennisSection, GlobalSite"/>
	 <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ASPNetMDBTennis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
   
		<!--
		<add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" /> -->
	  <remove name="LocalSqlServer"/>
   <add name="LocalSqlServer" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Programmering\Visual Studio projekter\Tennis\HaarbyTennisDB\Administration.mdb" providerName="System.Data.OleDb"/>
    <!--<add name="LocalSqlServer" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Programmering\Visual Studio projekter\Webforms projekter\ASPNetMDBTennis\DataLayer\Administration.mdb" providerName="System.Data.OleDb"/>-->
   <!--<add name="LocalSqlServer" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\\home\\haarbytennisdk\\db\\Administration.mdb" providerName="System.Data.OleDb"/>-->

   <add name="ApplicationServices" connectionString="Driver={Microsoft Access Driver (*.mdb)};Dbq=C:\Programmering\Visual Studio projekter\Tennis\HaarbyTennisDB\Members.mdb;Uid=Admin;Pwd=;" ></add>
   <!--<add name="ApplicationServices" connectionString="Driver={Microsoft Access Driver (*.mdb)};Dbq=C:\Programmering\Visual Studio projekter\Webforms projekter\ASPNetMDBTennis\DataLayer\Members.mdb;Uid=Admin;Pwd=;" ></add>-->
   <!--<add name="ApplicationServices" connectionString="Driver={Microsoft Access Driver (*.mdb)};Dbq=D:\\home\\haarbytennisdk\\db\\Members.mdb;Uid=Admin;Pwd=;" ></add>-->
    
  </connectionStrings>
	<HaarbyTennis defaultConnectionStringName="LocalSqlServer">
		<contactForm mailTo="thebeerhouse@wrox.com"/>
		<articles pageSize="10"/>
		<polls archiveIsPublic="true" votingLockByIP="false"/>
		<newsletters fromEmail="thebeerhouse@wrox.com" fromDisplayName="TheBeerHouse"/>
		<forums threadsPageSize="8" hotThreadPosts="10" bronzePosterPosts="10" silverPosterPosts="20" goldPosterPosts="50"/>
		<public sandboxMode="true" businessEmail="thebeerhouse@wrox.com"/>
	</HaarbyTennis>
  <system.web>

    <machineKey
  validationKey="B6AF9388159183B6A8EE690C851398A11997C519F859599459E30121EF4DF8BF2B1666BC82BB6FEB2FEF279BEB325E897AED6EA5B71C55D213B76510EF96CAA8"
     decryptionKey="3C5EF273A20ED2473594C9691627700A79376A7C1455320A"
     validation="SHA1" />


    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" defaultRedirect="ErrorPage.aspx"/>
      

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2"

    />
    </authentication>

	  <membership defaultProvider="MemberShipProvider" userIsOnlineTimeWindow="1">
		  <providers>
			  <clear/>
			  <add name="MemberShipProvider" type="HaarbyTennis.Provider.MemberShipProvider"
       connectionStringName="ApplicationServices"
       enablePasswordRetrieval="false" enablePasswordReset="true"
       requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
       maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6"
       minRequiredNonalphanumericCharacters="0"
       passwordAttemptWindow="10"
       applicationName="/"/>
		  </providers>
	  </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <applicationSettings>
    <ASPNetMDBTennis.Properties.Settings>
      <setting name="SmtpServer" serializeAs="String">
        <value>smtp.haarbytennis.dk</value>
      </setting>
      <setting name="MailSender" serializeAs="String">
        <value>admin@haarbytennis.dk</value>
      </setting>
      <setting name="MailCC" serializeAs="String">
        <value />
      </setting>
      <setting name="MailBCC" serializeAs="String">
        <value />
      </setting>
      <setting name="ApplicationName" serializeAs="String">
        <value>HaarbyTennis</value>
      </setting>
      <setting name="MailKvittering" serializeAs="String">
        <value>lassej@sdu.dk</value>
      </setting>
    </ASPNetMDBTennis.Properties.Settings>
  </applicationSettings>
</configuration>
